#root {
    display: flex;
}

main {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// for sidebar 
.sidebar {
    background-color: $primary-color;
    color: $primary-color;
    width: 300px;

    .top_section {
        display: flex;
        align-items: center;
        padding: 20px 15px;

        .logo-container {
            // display: flex;
            width: 260px; 
            height: 49.01px; 
            position: relative;

            img {
                width: 48px; 
                height: 49.01px; 
                left: 0px; 
                top: 0px; 
                position: absolute;
            }
            h1 {
                left: 52px;
                top: 12.25px;
                position: absolute;
                color: $main-color;
                font-size: $sub-heading;
                font-weight: bold;
                font-family: $primary-font;
                word-wrap: break-word;
            }
        }
        .bars {
            display: flex;
            color: $main-color;

            svg {
                font-size: 30px;
            }
        }
    }

    .navbar-link {
        display: flex;
        color: $main-color;
        padding: 10px 15px;
        gap: 15px;
        transition: all 0.5s;
        text-decoration: none;
        font-family: $primary-font;
        font-size: $sub-heading;

        .icon {
            font-size: $sub-heading;
        }

        &:hover {
            background-color: $main-color;
            color: $primary-color;
            transition: all 0.5s;
        }
        &.active {
            background-color: $main-color;
            color: $primary-color;
        }
    }

    .contact-us {
        display: flex !important;
        justify-content: center;
    }

    .a-link-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 89px) !important;
    }
}

.account-container {
    display: flex;
    justify-content: end;

    button {
        display: flex !important;
        justify-content: flex-end;
        align-items: center;
        background-color: #fff !important;
        border: none !important;
        
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid $main-color;
            margin-right: 5px;
        }
    
        h1 {
            color: $main-color; 
            font-size: 20px; 
            font-family: $primary-font; 
            font-weight: bold; 
            word-wrap: break-word;
        }
    }

    @media (max-width: 600px) {
        button {
          
          h1 {
            font-size: $small-heading;
            margin: 0;
          }
        }
    }
}

// for product card
.product-card {

    @include custom-card;

    .blur-background {
        @include custom-blur-background;
    }
    .product-name {
        @include custom-product-name;
    }
    .product-price {
        @include custom-product-price;

        span {
            @include custom-product-price-span; 
        }
    }
    .star-container {
        @include custom-star-container; 
    }
    .product-image {
        @include custom-product-image;
    }
    .product-ratings {
        @include custom-product-rating;
    }
    .plus-col {
        @include custom-plus-col;

        .plus-btn {
            @include custom-plus-btn;
        }
    }

    @media (max-width: 600px) {
        .product-card-container {
            padding: 10px;
        }
        .card-body {
            img {
                width: 100%;
            }
        }
    }
}

.product-card-container {
    @media (max-width: 600px) {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .card-body {
        img {
            width: 100%;
        }
    }
}

// for banner
.banner-container {
    align-items: center;
    display: flex;
    width: 897px; 
    height: 400px; 
    position: relative;
    left: 0px; 
    top: 0px; 
    background: $primary-color; 
    box-shadow: 0px 22px 40px 9px rgba(0, 0, 0, 0.25);

    .image-container {
        display: flex;
        justify-content: center;

        .blur-1 {
            width: 211px; 
            height: 55.07px; 
            top: 299.33px; 
            position: absolute; 
            transform: rotate(-90deg); 
            transform-origin: 0 0; 
            background: rgba(0, 0, 0, 0.40); 
            box-shadow: 40px 40px 40px; 
            filter: blur(40px);
        }
        .blur-2 {
            width: 226.66px; 
            height: 52.16px; 
            top: 275.68px; 
            position: absolute; 
            transform: rotate(-50.68deg); 
            transform-origin: 0 0; 
            background: rgba(0, 0, 0, 0.40); 
            box-shadow: 40px 40px 40px; 
            filter: blur(40px);
        }
        .blur-3 {
            width: 361px; 
            height: 55px; 
            top: 154.33px; 
            position: absolute; 
            background: rgba(0, 0, 0, 0.40); 
            box-shadow: 40px 40px 40px; 
            filter: blur(40px);
        }
        .banner-image {
            width: 344px;
            top: 43.33px;
            position: absolute;
        }
    }
    
    .banner-title {
        font-size: $heading;
        font-weight: bold;
    }
    .banner-sub-title {
        color: $secondary-color; 
        font-size: $sub-heading; 
        font-family: $primary-font; 
        font-weight: 500; 
        word-wrap: break-word
    }
    .banner-sub-title span {
        color: $main-color; 
        font-size: $sub-heading; 
        font-family: $primary-font; 
        font-weight: 700; 
        word-wrap: break-word;
    }
    .banner-star-container {
        display: flex;
    }
    .banner-star-rating{
        color: #5C5C5C; 
        font-size: 16px; 
        font-family: $primary-font; 
        font-weight: 400; 
        word-wrap: break-word;
    }
    .banner-description {
        text-align: justify; 
        color: #5C5C5C; 
        font-size: 16px; 
        font-family: $primary-font; 
        font-weight: 400; 
        word-wrap: break-word;
    }
    .product-icon-info-container,
    .product-icon-buy-container {
        svg {
            margin-top: 10px;
            margin-left: 2px;
            margin-right: 2px;
            font-size: 40px;
            background-color: $primary-color;
            padding: 5px;
            border: 2px solid $main-color;
            border-radius: 5px;
        }
    }

    .product-icon-buy-container {
        display: flex;
        justify-content: flex-end;

        button {
            opacity: 1 !important;
            margin-top: 10px;
            width: 160px;
            margin-left: 2px;
            background-color: $main-color;
            text-transform: uppercase;
            font-weight: bold;
            font-family: $primary-font; 
        }
    }
}

// for services
.col-3 {
    text-align: center;
}

// for footer
footer {
    .container {
        .heading-container {

            display: flex;
            margin-bottom: 20px;

            p {
                display: flex;
                margin-left: 5px;
                align-items: end;
                font-size: $sub-heading;
                font-weight: bold;
                color: $main-color;
                font-family: $primary-font;
            }   
        }

        .footer-heading {
            p {
                font-size: $paragraph;
                color: $secondary-color;
                font-family: $primary-font;
            }
            .social-icon-container {
                h6 {
                    font-size: $paragraph;
                    color: $secondary-color;
                    font-family: $primary-font;
                    font-weight: bold;
                }
                .icons {
                    display: flex;
                    align-items: center;
                    
                    svg {
                        margin-right: 5px;
                        font-size: 50px;
                        background: $primary-color;
                        border: 2px solid $main-color;
                        color: $main-color;
                        padding: 10px;
                        border-radius: 50px;
                        transition: color 0.3s ease;

                        &.hover {
                            fill: $main-color;
                            color: $primary-color;
                            border: 2px solid $main-color;
                            cursor: pointer;
                        }
                    }
                }
            }

            @media (max-width: 600px) {
                margin-bottom: 15px !important;
                margin-top: 15px !important;
            }
        }

        .bread-category-container {
            display: flex;
            justify-content: center;

            .bread-category {
                h6 {
                    @include custom-sub-heading;
                }

                small {
                    ul {
                        li {
                            font-size: $paragraph;
                            font-family: $primary-font; 
                        }
                    }
                }
            }

            @media (max-width: 600px) {
                justify-content: flex-start;
            }
        }

        .contact-info-container {
            .contact-info {
                h6 {
                    @include custom-sub-heading;
                }
                small {
                    @include custom-text;
                }
            }
        }
    }

    @media (max-width: 600px) {
        .container {
            .row {
                flex-direction: column-reverse;

                .contact-info {
                    margin-bottom: 15px !important;
                    margin-top: 15px !important;
                }
            }
        }
    }
}

.footer-right {
    @include custom-text;
    text-align: center;
}

.carousel-item {
    .card-column {
        display: flex;
        justify-content: center;

        .card {
            @include custom-card;
            position: relative !important; 
            width: 100%;
        }
        .blur-background {
            @include custom-blur-background;
        }
        .product-image {
            @include custom-product-image;

            @media (max-width: 600px) {
                width: 100%;
            }
        }
        .product-name {
            @include custom-product-name;
        }
        .product-price {
            @include custom-product-price;
    
            span {
                @include custom-product-price-span; 
            }
        }
        .star-container {
            @include custom-star-container; 
        }
        .product-ratings {
            @include custom-product-rating;
        }

        .plus-col {
            @include custom-plus-col;
    
            .plus-btn {
                @include custom-plus-btn;
            }
        }
    }
}
  
.carousel-control-prev-icon {
    @include custom-carousel-control;

    &::before {
        @include custom-icon;
        border-width: 6px 8px 6px 0;
        margin-right: 10px;
    }
}   
.carousel-control-next-icon {
    @include custom-carousel-control;
    transform: rotate(180deg);

    &::before {
        @include custom-icon;
        border-width: 6px 9px 6px 0px;
    }
}

.nav-item {
    background: #D9D9D9;

    button {
        @include custom-text;
        color: $main-color;

        &.active {
            background: $main-color !important;
            color: $primary-color !important;
        }
    }
}
.explore-products {
    @include custom-sub-heading;
    font-size: $heading;
}

// override bootstrap function
.tab-content {
    top: 30px;
    position: relative;

    .tab-pane {
        display: flex !important;
        justify-content: space-around;
    }
}
.fade:not(.show) {
    opacity: 1 !important;
}

// pages styles
.banner-container {

    .banner-row {
        padding: 30px !important;
    }

    @media (max-width: 600px) {

        width: 100% !important;
        height: 650px;

        .banner-row {
            display: flex;
            flex-direction: column;

            .image-container {
                img {
                    top: 0;
                    position: relative;
                }
                .blur-1, .blur-2 {
                    display: none;
                }
                .blur-3 {
                    top: 120px;
                }
            }

            div {
                .banner-title {
                    font-size: 25px;
                    text-align: center;
                }
                .banner-star-container {
                    justify-content: space-evenly;
                }
                .product-counter-container {
                    .product-counter-wrapper{
                        .plus-icon-wrapper {
                            button {
                                svg {
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                    .minus-icon-wrapper {
                        button {
                            svg {
                                font-size: 30px;
                            }
                        }
                    }
                    .product-reset-wrapper {
                        button {
                            svg {
                                font-size: 30px;
                            }
                        }
                    }
                }
                div {
                    .banner-description {
                        // font-size: 12px;
                    }
                }
                .row {
                    .product-icon-info-container {
                        width: unset;
                    }
                }
            }
        }
    }
}
.product-service {
    flex-wrap: nowrap;
    display: flex;
    background-color: #fff;
    padding: 5px;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-counter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.product-counter-wrapper {
    display: flex;
    align-items: center;
    border: 2px solid #033C3C;

    .plus-icon-wrapper {
        button {
            @include custom-button;
        }
    }
    .number-wrapper {
        display: flex;
        width: 50px;
        height: 44px;
        justify-content: center;
        text-align: center;
        align-items: end;
        background-color: #fff;

        h1 {
            font-size: 20px;
        }
    }
    .minus-icon-wrapper {
        button {
            @include custom-button;
        }
    }
}
.product-reset-wrapper {
    button {
        @include custom-button;
    }
}

.product-table {
    text-align: center;
    font-family: $primary-font; 

    thead {
        tr {
            text-align: center;
            text-transform: uppercase;
            font-size: 20px;
            font-family: $primary-font; 

            th {
                background-color: #033c3c;
                color: #fff;
                letter-spacing: 1px;
            }
        }

        @media (max-width: 600px) {
            tr {
                font-size: $paragraph;
            }
        }
    }

    tbody {
        tr {
            td {
                font-size: 20px;
            }
        }

        @media (max-width: 600px) {
            tr {
                td {
                    font-size: $paragraph;
                }
            }
        }
    }
}

.product-name-table {
    text-align: left;
}

// for modals
.modal-dialog {
    .modal-content {
        .modal-body {
            display: flex;
            flex-direction: column;
            align-items: center;

            svg {
                margin-top: 50px;
                font-size: 50px;
            }

            img {
                width: 200px;
            }

            h1 {
                font-size: 20px;
                margin-top: 20px;
                text-transform: uppercase;
                font-weight: bold;
                color: #033C3C;
                text-align: center;
            }
        }
        .modal-footer {
            justify-content: center;

            .logout {
                @include custom-modal-button;
                color: $main-color;
                border: 2px solid $main-color;
            }
            .purchase {
                @include custom-modal-button;
                color: $main-color;
                border: 2px solid $main-color;
            }
            .cancel {
                @include custom-modal-button;
                border: 1px solid $main-color;
                background-color: red;
                border: 1px solid red;
            }
        }
    }
}
.modal-backdrop {
    background-color: #033C3C;
}